.card{
    background-color: #252B42;
    height: 216px;
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white
}

.radius{
    border-radius: 5px 5px 10px 10px;
}