.card{
    background-color: #8C98C6;
    height: 216px;
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}

.radius{
    border-radius: 10px;
}